[run]
source = .
omit = 
    */venv/*
    */__pycache__/*
    */tests/*
    conftest.py
    sync_readme_test_results.py
    setup.py
    config.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
